# fly.toml app configuration file generated for dayspring on 2026-02-10T14:39:39Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dayspring'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
