# fly.toml app configuration file generated for dayspring-api on 2026-02-10T14:13:29Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dayspring-api'
primary_region = 'lhr'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'
  seed_command = 'node prisma/seed.ts'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpus = 1
  memory_mb = 2048
