[build]
  base = "."
  command = "npm ci --include=dev && npx prisma generate && npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/api/:splat"
  status = 200
  force = true
