[build]
  base = "api"
  command = "npm ci --include=dev && npx prisma generate && npm run build"
  publish = "api/dist"

[functions]
  directory = "api/netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/api/:splat"
  status = 200
  force = true
